.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  background-color: green;
}

.home h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.home p {
  font-size: 1.3rem;
  line-height: 1.2;
  color: yellow;
}

.home h1,
.home p {
  align-self: flex-start;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1 1 200px;
}
