.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  background-color: green;
}

.home h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.home p {
  font-size: 1.3rem;
  line-height: 1.2;
  color: yellow;
}

.home h1,
.home p {
  align-self: flex-start;
}

.search {
  position: relative;
}

.search input {
  width: 100%;
  border-radius: 999px;
  padding: 12px 20px;
  border: 1px solid #ccc;
}

.search button {
  font-size: 1.5rem;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 999px;
  border: 1px solid #ccc;
}
